In [1]:
import numpy as np 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from pandas.plotting import autocorrelation_plot
from pandas.plotting import scatter_matrix
from pandas.plotting import autocorrelation_plot
from pandas.plotting import parallel_coordinates
from pandas.plotting import lag_plot

In [2]:
#Preprocessing & Handlings
Df=pd.DataFrame(pd.read_excel('Dataset_Jordan_COVID_Mental_Health_Paper.xlsx'))
Df.columns=Df.loc[0]
Df.drop(Df.index[[0]],inplace=True)
Df.reset_index(inplace=True,drop=True)
Df

,Q1,Q2,Q3,Q4,Q5,Q6,Q7,GAD7,Q8,Q9,...,"sleepquality (0=bad quality, 1=good quality)",sleepduration (in hours),"sleepproblems (0=no problems, 1=at least 1 problem)",phys1,phys2,phys3,phys4,gender,age,city
0,0,0,1,0,0,0,1,2,0,1,...,1,7,0,2,1,3,0.08,0,17,Amman
1,1,1,0,2,0,2,2,8,1,0,...,1,6.5,0,2,0.25,2,0,0,53,Amman
2,1,1,0,2,0,0,0,4,0,0,...,1,8,0,2,1,5,2,0,52,Irbid
3,1,1,1,1,2,1,0,7,1,1,...,0,7,1,1,0.50,2,0.17,0,21,Amman
4,0,0,0,1,0,0,0,1,0,0,...,1,10,1,5,0.50,7,0.50,1,38,Irbid
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1257,2,0,1,3,1,2,2,11,0,0,...,1,6.5,0,7,1,7,1,1,34,Amman
1258,0,0,0,0,0,0,0,0,0,0,...,1,8,0,2,0.50,2,.50,1,47,Amman
1259,1,1,1,1,0,0,1,5,2,1,...,1,8,1,5,1,5,1,0,54,Amman
1260,0,0,1,0,0,0,1,2,0,0,...,1,6,1,5,1,7,0.75,0,69,Amman
1261,1,0,1,1,0,1,1,5,1,0,...,1,5,1,7,3,7,3,1,38,Amman

In [3]:
Df.describe(include='all')

,Q1,Q2,Q3,Q4,Q5,Q6,Q7,GAD7,Q8,Q9,...,"sleepquality (0=bad quality, 1=good quality)",sleepduration (in hours),"sleepproblems (0=no problems, 1=at least 1 problem)",phys1,phys2,phys3,phys4,gender,age,city
count,1262,1262,1262,1262,1262,1262,1262,1262,1258,1262,...,1262,1262,1262,1262,1262,1262,1262,1261,1252,1262
unique,4,4,4,4,4,4,4,22,4,4,...,2,73,2,16,26,17,25,2,123,31
top,1,0,1,0,0,1,0,3,0,0,...,1,8,1,2,1,7,0.50,0,30,Amman
freq,636,620,595,507,757,531,543,151,661,679,...,1033,175,803,236,290,309,247,664,35,762

In [4]:
for col in Df:
    print(Df[col].apply(type))

0       <class 'int'>
1       <class 'int'>
2       <class 'int'>
3       <class 'int'>
4       <class 'int'>
            ...
1257    <class 'int'>
1258    <class 'int'>
1259    <class 'int'>
1260    <class 'int'>
1261    <class 'int'>
Name: Q1, Length: 1262, dtype: object
0       <class 'int'>
1       <class 'int'>
2       <class 'int'>
3       <class 'int'>
4       <class 'int'>
            ...
1257    <class 'int'>
1258    <class 'int'>
1259    <class 'int'>
1260    <class 'int'>
1261    <class 'int'>
Name: Q2, Length: 1262, dtype: object
0       <class 'int'>
1       <class 'int'>
2       <class 'int'>
3       <class 'int'>
4       <class 'int'>
            ...
1257    <class 'int'>
1258    <class 'int'>
1259    <class 'int'>
1260    <class 'int'>
1261    <class 'int'>
Name: Q3, Length: 1262, dtype: object
0       <class 'int'>
1       <class 'int'>
2       <class 'int'>
3       <class 'int'>
4       <class 'int'>
            ...
1257    <class 'int'>
1258    <class 'int'>
1259    <class 'int'>
1260    <class 'int'>
1261    <class 'int'>
Name: Q4, Length: 1262, dtype: object
0       <class 'int'>
1       <class 'int'>
2       <class 'int'>
3       <class 'int'>
4       <class 'int'>
            ...
1257    <class 'int'>
1258    <class 'int'>
1259    <class 'int'>
1260    <class 'int'>
1261    <class 'int'>
Name: Q5, Length: 1262, dtype: object
0       <class 'int'>
1       <class 'int'>
2       <class 'int'>
3       <class 'int'>
4       <class 'int'>
            ...
1257    <class 'int'>
1258    <class 'int'>
1259    <class 'int'>
1260    <class 'int'>
1261    <class 'int'>
Name: Q6, Length: 1262, dtype: object
0       <class 'int'>
1       <class 'int'>
2       <class 'int'>
3       <class 'int'>
4       <class 'int'>
            ...
1257    <class 'int'>
1258    <class 'int'>
1259    <class 'int'>
1260    <class 'int'>
1261    <class 'int'>
Name: Q7, Length: 1262, dtype: object
0       <class 'int'>
1       <class 'int'>
2       <class 'int'>
3       <class 'int'>
4       <class 'int'>
            ...
1257    <class 'int'>
1258    <class 'int'>
1259    <class 'int'>
1260    <class 'int'>
1261    <class 'int'>
Name: GAD7, Length: 1262, dtype: object
0       <class 'int'>
1       <class 'int'>
2       <class 'int'>
3       <class 'int'>
4       <class 'int'>
            ...
1257    <class 'int'>
1258    <class 'int'>
1259    <class 'int'>
1260    <class 'int'>
1261    <class 'int'>
Name: Q8, Length: 1262, dtype: object
0       <class 'int'>
1       <class 'int'>
2       <class 'int'>
3       <class 'int'>
4       <class 'int'>
            ...
1257    <class 'int'>
1258    <class 'int'>
1259    <class 'int'>
1260    <class 'int'>
1261    <class 'int'>
Name: Q9, Length: 1262, dtype: object
0       <class 'int'>
1       <class 'int'>
2       <class 'int'>
3       <class 'int'>
4       <class 'int'>
            ...
1257    <class 'int'>
1258    <class 'int'>
1259    <class 'int'>
1260    <class 'int'>
1261    <class 'int'>
Name: Q13, Length: 1262, dtype: object
0       <class 'int'>
1       <class 'int'>
2       <class 'int'>
3       <class 'int'>
4       <class 'int'>
            ...
1257    <class 'int'>
1258    <class 'int'>
1259    <class 'int'>
1260    <class 'int'>
1261    <class 'int'>
Name: Q14, Length: 1262, dtype: object
0       <class 'int'>
1       <class 'int'>
2       <class 'int'>
3       <class 'int'>
4       <class 'int'>
            ...
1257    <class 'int'>
1258    <class 'int'>
1259    <class 'int'>
1260    <class 'int'>
1261    <class 'int'>
Name: Q15, Length: 1262, dtype: object
0       <class 'int'>
1       <class 'int'>
2       <class 'int'>
3       <class 'int'>
4       <class 'int'>
            ...
1257    <class 'int'>
1258    <class 'int'>
1259    <class 'int'>
1260    <class 'int'>
1261    <class 'int'>
Name: Q16, Length: 1262, dtype: object
0       <class 'int'>
1       <class 'int'>
2       <class 'int'>
3       <class 'int'>
4       <class 'int'>
            ...
1257    <class 'int'>
1258    <class 'int'>
1259    <class 'int'>
1260    <class 'int'>
1261    <class 'int'>
Name: Q17, Length: 1262, dtype: object
0       <class 'int'>
1       <class 'int'>
2       <class 'int'>
3       <class 'int'>
4       <class 'int'>
            ...
1257    <class 'int'>
1258    <class 'int'>
1259    <class 'int'>
1260    <class 'int'>
1261    <class 'int'>
Name: Q18, Length: 1262, dtype: object
0       <class 'int'>
1       <class 'int'>
2       <class 'int'>
3       <class 'int'>
4       <class 'int'>
            ...
1257    <class 'int'>
1258    <class 'int'>
1259    <class 'int'>
1260    <class 'int'>
1261    <class 'int'>
Name: Q19, Length: 1262, dtype: object
0       <class 'int'>
1       <class 'int'>
2       <class 'int'>
3       <class 'int'>
4       <class 'int'>
            ...
1257    <class 'int'>
1258    <class 'int'>
1259    <class 'int'>
1260    <class 'int'>
1261    <class 'int'>
Name: Q20, Length: 1262, dtype: object
0       <class 'int'>
1       <class 'int'>
2       <class 'int'>
3       <class 'int'>
4       <class 'int'>
            ...
1257    <class 'int'>
1258    <class 'int'>
1259    <class 'int'>
1260    <class 'int'>
1261    <class 'int'>
Name: Q21, Length: 1262, dtype: object
0       <class 'int'>
1       <class 'int'>
2       <class 'int'>
3       <class 'int'>
4       <class 'int'>
            ...
1257    <class 'int'>
1258    <class 'int'>
1259    <class 'int'>
1260    <class 'int'>
1261    <class 'int'>
Name: DES10, Length: 1262, dtype: object
0       <class 'int'>
1       <class 'int'>
2       <class 'int'>
3       <class 'int'>
4       <class 'int'>
            ...
1257    <class 'int'>
1258    <class 'int'>
1259    <class 'int'>
1260    <class 'int'>
1261    <class 'int'>
Name: sleepquality (0=bad quality, 1=good quality), Length: 1262, dtype: object
0         <class 'int'>
1       <class 'float'>
2         <class 'int'>
3         <class 'int'>
4         <class 'int'>
             ...
1257    <class 'float'>
1258      <class 'int'>
1259      <class 'str'>
1260      <class 'int'>
1261      <class 'int'>
Name: sleepduration (in hours), Length: 1262, dtype: object
0       <class 'str'>
1       <class 'str'>
2       <class 'str'>
3       <class 'str'>
4       <class 'str'>
            ...
1257    <class 'str'>
1258    <class 'str'>
1259    <class 'str'>
1260    <class 'str'>
1261    <class 'str'>
Name: sleepproblems (0=no problems, 1=at least 1 problem), Length: 1262, dtype: object
0       <class 'str'>
1       <class 'str'>
2       <class 'str'>
3       <class 'str'>
4       <class 'str'>
            ...
1257    <class 'str'>
1258    <class 'str'>
1259    <class 'str'>
1260    <class 'str'>
1261    <class 'str'>
Name: phys1, Length: 1262, dtype: object
0       <class 'str'>
1       <class 'str'>
2       <class 'str'>
3       <class 'str'>
4       <class 'str'>
            ...
1257    <class 'str'>
1258    <class 'str'>
1259    <class 'str'>
1260    <class 'str'>
1261    <class 'str'>
Name: phys2, Length: 1262, dtype: object
0       <class 'str'>
1       <class 'str'>
2       <class 'str'>
3       <class 'str'>
4       <class 'str'>
            ...
1257    <class 'str'>
1258    <class 'str'>
1259    <class 'str'>
1260    <class 'str'>
1261    <class 'str'>
Name: phys3, Length: 1262, dtype: object
0       <class 'str'>
1       <class 'str'>
2       <class 'str'>
3       <class 'str'>
4       <class 'str'>
            ...
1257    <class 'str'>
1258    <class 'str'>
1259    <class 'str'>
1260    <class 'str'>
1261    <class 'str'>
Name: phys4, Length: 1262, dtype: object
0       <class 'int'>
1       <class 'int'>
2       <class 'int'>
3       <class 'int'>
4       <class 'int'>
            ...
1257    <class 'int'>
1258    <class 'int'>
1259    <class 'int'>
1260    <class 'int'>
1261    <class 'int'>
Name: gender, Length: 1262, dtype: object
0       <class 'str'>
1       <class 'str'>
2       <class 'str'>
3       <class 'str'>
4       <class 'int'>
            ...
1257    <class 'int'>
1258    <class 'int'>
1259    <class 'str'>
1260    <class 'int'>
1261    <class 'int'>
Name: age, Length: 1262, dtype: object
0       <class 'str'>
1       <class 'str'>
2       <class 'str'>
3       <class 'str'>
4       <class 'str'>
            ...
1257    <class 'str'>
1258    <class 'str'>
1259    <class 'str'>
1260    <class 'str'>
1261    <class 'str'>
Name: city, Length: 1262, dtype: object

In [5]:
Df.convert_dtypes().dtypes

Q1                                                      Int64
Q2                                                      Int64
Q3                                                      Int64
Q4                                                      Int64
Q5                                                      Int64
Q6                                                      Int64
Q7                                                      Int64
GAD7                                                    Int64
Q8                                                      Int64
Q9                                                      Int64
Q13                                                     Int64
Q14                                                     Int64
Q15                                                     Int64
Q16                                                     Int64
Q17                                                     Int64
Q18                                                     Int64
Q19                                                     Int64
Q20                                                     Int64
Q21                                                     Int64
DES10                                                   Int64
sleepquality (0=bad quality, 1=good quality)            Int64
sleepduration (in hours)                               object
sleepproblems (0=no problems, 1=at least 1 problem)    string
phys1                                                  object
phys2                                                  string
phys3                                                  object
phys4                                                  string
gender                                                  Int64
age                                                    object
city                                                   string
dtype: object

In [6]:
Df.columns

Index(['Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7', 'GAD7', 'Q8', 'Q9', 'Q13',
       'Q14', 'Q15', 'Q16', 'Q17', 'Q18', 'Q19', 'Q20', 'Q21', 'DES10',
       'sleepquality (0=bad quality, 1=good quality)',
       'sleepduration (in hours)',
       'sleepproblems (0=no problems, 1=at least 1 problem)', 'phys1', 'phys2',
       'phys3', 'phys4', 'gender', 'age', 'city'],
      dtype='object', name=0)

In [7]:
Df=Df.dropna()

In [8]:
#Handling city column anomalies
Df['city']=Df['city'].str.strip().str.lower().str.capitalize()

<ipython-input-8-229a0ba3b47e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Df['city']=Df['city'].str.strip().str.lower().str.capitalize()

In [9]:
Df['city'].unique()

array(['Amman', 'Irbid', 'Zarqa', 'Karak', 'Aqaba', 'Salt', 'Maan',
       'Jarash', 'Petra', 'Mafraq', 'Madaba', 'Ajloun', 'Tafila', 'Balqa'],
      dtype=object)

In [10]:
Df['city'].value_counts()

Amman     935
Irbid     107
Zarqa      91
Salt       26
Madaba     19
Mafraq     16
Aqaba      15
Jarash     10
Ajloun      7
Maan        6
Karak       6
Petra       4
Balqa       3
Tafila      2
Name: city, dtype: int64

In [11]:
Df['sleepquality (0=bad quality, 1=good quality)'].value_counts(normalize=True)

1    0.816359
0    0.183641
Name: sleepquality (0=bad quality, 1=good quality), dtype: float64

In [12]:
Df.GAD7.value_counts(normalize=True)

3     0.119487
4     0.105052
5     0.094627
2     0.093023
6     0.081796
0     0.076985
1     0.075381
7     0.074579
8     0.048917
10    0.036889
9     0.035285
11    0.029671
12    0.023256
13    0.020850
14    0.020850
15    0.013633
16    0.013633
21    0.012029
19    0.008821
17    0.008019
18    0.004812
20    0.002406
Name: GAD7, dtype: float64

In [13]:
Df['sleepduration (in hours)'].value_counts(normalize=True)

8      0.138733
8      0.125100
7      0.089816
7      0.080994
6      0.069767
         ...
45     0.000802
 6     0.000802
20     0.000802
4.5    0.000802
60     0.000802
Name: sleepduration (in hours), Length: 73, dtype: float64

In [14]:
Df.iloc[169].apply(type)

0
Q1                                                     <class 'int'>
Q2                                                     <class 'int'>
Q3                                                     <class 'int'>
Q4                                                     <class 'int'>
Q5                                                     <class 'int'>
Q6                                                     <class 'int'>
Q7                                                     <class 'int'>
GAD7                                                   <class 'int'>
Q8                                                     <class 'int'>
Q9                                                     <class 'int'>
Q13                                                    <class 'int'>
Q14                                                    <class 'int'>
Q15                                                    <class 'int'>
Q16                                                    <class 'int'>
Q17                                                    <class 'int'>
Q18                                                    <class 'int'>
Q19                                                    <class 'int'>
Q20                                                    <class 'int'>
Q21                                                    <class 'int'>
DES10                                                  <class 'int'>
sleepquality (0=bad quality, 1=good quality)           <class 'int'>
sleepduration (in hours)                               <class 'str'>
sleepproblems (0=no problems, 1=at least 1 problem)    <class 'str'>
phys1                                                  <class 'str'>
phys2                                                  <class 'str'>
phys3                                                  <class 'str'>
phys4                                                  <class 'str'>
gender                                                 <class 'int'>
age                                                    <class 'int'>
city                                                   <class 'str'>
Name: 170, dtype: object

In [15]:
Df=Df.dropna()

In [16]:
"""Df.astype({"age": int, "sleepproblems (0=no problems, 1=at least 1 problem)": int,"sleepduration (in hours)":float })
pd.to_numeric(Df['phys1'])
pd.to_numeric(Df['phys2'])
pd.to_numeric(Df['phys3'])
pd.to_numeric(Df['phys4'])"""

'Df.astype({"age": int, "sleepproblems (0=no problems, 1=at least 1 problem)": int,"sleepduration (in hours)":float })\npd.to_numeric(Df[\'phys1\'])\npd.to_numeric(Df[\'phys2\'])\npd.to_numeric(Df[\'phys3\'])\npd.to_numeric(Df[\'phys4\'])'